:root {
    --body-color: var(--third-color);

    --accent-color: #fbca07;
    --secondary-color: #fff;
    --third-color: #000;

    --danger-color: #ad2f00;
    --safe-color: #0080ad;

    --font-main: var(--secondary-color);
    --font-secondary: var(--third-color);

    --footer-background: var(--accent-color);
    --footer-color: var(--third-color);

    --spacing-xsmall: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;

    @media screen and (min-width: 768px) {
        --spacing-xsmall: 1rem;
        --spacing-small: 2rem;
        --spacing-medium: 4rem;
        --spacing-large: 6rem;
    }
}

body {
    font-family: var(--font-inter);
    background-color: var(--body-color);
    color: var(--font-main);
    line-height: 1;
}

h1 {
    font-family: var(--font-antonio);
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    margin: 0 0 var(--spacing-large);

    @media screen and (min-width: 768px) {
        font-size: 10rem;
        letter-spacing: -0.4rem;
    }

    span {
        color: var(--accent-color);
    }
}

a {
    transition: 0.3s;
    &:hover {
        color: var(--accent-color);
    }
}

input {
    border: 2px solid var(--secondary-color);
    padding: var(--spacing-small) var(--spacing-small);
    font-size: 1rem;

    @media screen and (min-width: 768px) {
        padding: var(--spacing-small) var(--spacing-medium);
        font-size: 2rem;
    }

    & + input {
        margin-top: -2px;
    }
}

section {
    margin: 0 0 var(--spacing-large);
    padding: 0 var(--spacing-small);
}

.app {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 50rem;
    padding: 0 var(--spacing-small);
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        padding: 0 var(--spacing-small);
    }
}

.subheading {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 2rem;

    @media screen and (min-width: 768px) {
        font-size: 1.4rem;
    }
}

.profile_parties {
    .profile_create_party {
        font-size: 2rem;
        display: block;
        text-align: center;
        padding: var(--spacing-xsmall) var(--spacing-medium);
        text-transform: uppercase;
        border: 2px solid var(--accent-color);
        margin-bottom: var(--spacing-small);
        transition: 0.3s;
        background-color: var(--accent-color);
        color: var(--third-color);

        &:hover {
            background-color: transparent;
            border-color: var(--secondary-color);
            color: var(--secondary-color);
        }
    }
}
